In [15]:
import numpy as np
import pandas as pd

In [16]:
def splitData(X, y, seed):
    length = int(0.7*len(X))
    points = np.arange(X.shape[0])
    np.random.seed(seed)
    np.random.shuffle(points)
    train_data = points[:length]
    test_data = points[length:]

    X_train = X.iloc[train_data]
    X_test =   X.iloc[test_data]
    y_train = y.iloc[train_data]
    y_test = y.iloc[test_data]
    
    return X_train, y_train, X_test, y_test

In [17]:
def preprocess(data):
    y = data.iloc[:, -1]
    
    X = data.iloc[:, :-1]
    X = (X-X.mean(axis= 0)) / X.std(axis= 0)
    
    return X, y

In [18]:
def step_function_output(X):
        return np.where(X >= 0, 1, -1)

In [19]:
def fit(X, y):
        no_of_samples, no_of_features = X.shape

        W = np.zeros(no_of_features)
        W_zero= 0
        lr=1
        
        
        old_l=0
        new_l=0
        for i in range(1000):
            new_l=0
        
            for idx, x_val in enumerate(X):
                linear_out = np.dot(x_val, W) + W_zero
                y_pred = step_function_output(linear_out)
                udt = lr * ((y[idx] - y_pred)/2)
                W += udt * x_val
                W_zero += udt
                if(udt!=0):
                  new_l+= y[idx]*(W_zero+np.dot(x_val,W))
            if(new_l==old_l):
                break
            else:
                old_l=new_l
                
        
        return W, W_zero

In [20]:
def predict(X, W, W_zero):
        linear_out = np.dot(X, W) + W_zero
        y_predict = step_function_output(linear_out)
        y_predict = np.array(y_predict)
        return y_predict

In [21]:
def accuracy(y_t, y_predict):
        acc = (np.sum(y_t == y_predict)) / len(y_t)
        return acc

In [22]:
df = pd.read_csv('dataset_LP_1.txt',sep = ',', header=None)
df.iloc[:,-1]=df.iloc[:,-1].replace(0,-1)
df

            0         1        2        3  4
0     3.62160   8.66610  -2.8073 -0.44699 -1
1     4.54590   8.16740  -2.4586 -1.46210 -1
2     3.86600  -2.63830   1.9242  0.10645 -1
3     3.45660   9.52280  -4.0112 -3.59440 -1
4     0.32924  -4.45520   4.5718 -0.98880 -1
...       ...       ...      ...      ... ..
1367  0.40614   1.34920  -1.4501 -0.55949  1
1368 -1.38870  -4.87730   6.4774  0.34179  1
1369 -3.75030 -13.45860  17.5932 -2.77710  1
1370 -3.56370  -8.38270  12.3930 -1.28230  1
1371 -2.54190  -0.65804   2.6842  1.19520  1

[1372 rows x 5 columns]

In [23]:
X,y=preprocess(df)
X_train, y_train, X_test, y_test = splitData(X, y, 23)
X_train = X_train.to_numpy()
y_train = y_train.to_numpy()
X_test = X_test.to_numpy()
y_test = y_test.to_numpy()

In [24]:
W, W_zero = fit(X_train, y_train)
print(W_zero, W)
predicts = predict(X_test, W, W_zero)
scr = accuracy(y_test, predicts)
print("Accuracy:",scr)

-13.0 [-29.41476719 -33.76451937 -29.85803087  -0.43381488]
Accuracy: 0.9927184466019418

In [25]:
df=pd.read_csv("dataset_LP_2.csv", header=None)
df.iloc[:,-1]=df.iloc[:,-1].replace(0,-1)
df

            0         1         2  3
0   -6.672418 -1.206198 -1.081050 -1
1    1.675598  0.614994 -0.971600 -1
2   -4.039058  0.335102  0.544618  1
3    0.793526 -0.235277  0.551771  1
4    3.820273 -0.274691  0.454743  1
..        ...       ...       ... ..
995 -3.680139  0.966962 -0.904337 -1
996 -4.063900  0.802611  1.023708  1
997 -0.814430 -0.693945  0.876776  1
998 -0.325122 -0.759024  1.299772  1
999 -1.503431 -0.269458 -1.124390 -1

[1000 rows x 4 columns]

In [26]:
X,y=preprocess(df)
X_train, y_train, X_test, y_test = splitData(X, y, 23)
X_train = X_train.to_numpy()
y_train = y_train.to_numpy()
X_test = X_test.to_numpy()
y_test = y_test.to_numpy()

In [27]:
W, W_zero = fit(X_train, y_train)
print(W_zero, W)
predicts = predict(X_test, W, W_zero)
scr = accuracy(y_test, predicts)
print("Accuracy:",scr)

1.0 [ 0.27553559 -0.29540807  4.77660401]
Accuracy: 0.9966666666666667